# Dependency caches
/node_modules/
/vendor/

# Compiled files and build artifacts

/build/
/target/
*.log
*.tmp
*.bak

# Operating System and Editor specific files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment variables and sensitive data
.env
config/secrets.js